.tax-list {
  $tax-list-card: '.tax-list-card';

  position: relative;
  display: block;

  &:hover {
    #{$tax-list-card} {
      &__border {
        opacity: 1;
      }
    }
  }

  &-group {
    display: block;
    margin-block-end: calc(var(--spacer) * 16);

    &__title {
      display: block;
      color: var(--color-text-02);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-xl);
      margin-block-end: calc(var(--spacer) * 4);
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calc(var(--spacer) * 4);

      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &-card {
    position: relative;
    display: block;
    padding: calc(var(--spacer) * 4) calc(var(--spacer) * 4);
    overflow: hidden;
    text-align: left;
    background-color: var(--color-ui-02);
    border: 1px solid transparent;
    border-image-source: radial-gradient(
      rgba(255, 255, 255, 0.1882352941) 60%,
      rgba(186, 162, 246, 0.1450980392) 90%,
      rgba(186, 162, 246, 0) 95%
    );
    border-image-slice: 1;
    box-shadow: 2px 4px 0px 0px #001;
    opacity: 0.5;
    transition: 0.4s;
    aspect-ratio: 16 / 9;

    @include media-breakpoint-down(lg) {
      aspect-ratio: 21 / 9;
    }

    &:hover {
      opacity: 0.6;

      &::before {
        opacity: 0.1;
      }

      #{$tax-list-card} {
        &__seeButton {
          transform: translate(var(--spacer));
        }
      }
    }

    &::before,
    &__border {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
      transition: opacity 0.4s;
      content: '';
    }

    &::before {
      z-index: 3;
      background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--color-brand-01), transparent 25%);
      opacity: 0.1;
    }

    &__comingSoonBadge {
      position: absolute;
      top: calc(var(--spacer) * 4);
      right: calc(var(--spacer) * 4);
      z-index: 2;
      padding: calc(var(--spacer) * 1) calc(var(--spacer) * 4);
      color: var(--color-text-04);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-sm);
      background-color: var(--color-ui-03);
      border-radius: var(--border-radius-01);
    }

    &__border {
      z-index: 1;
      background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), var(--color-ui-01), transparent 40%);
    }

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      padding: calc(var(--spacer) * 8) calc(var(--spacer) * 8);

      @include media-breakpoint-down(sm) {
        padding: calc(var(--spacer) * 4) calc(var(--spacer) * 4);
      }
    }

    &__icon {
      position: relative;
      display: block;
      color: var(--color-text-04);
      margin-block-end: calc(var(--spacer) * 2);
    }

    &__title {
      position: relative;
      color: var(--color-text-04);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-xl);

      @include media-breakpoint-between(xl, xxl) {
        font-size: var(--font-size-md);
      }

      @include media-breakpoint-down(sm) {
        font-size: var(--font-size-sm);
      }
    }

    &__code {
      position: absolute;
      bottom: calc(var(--spacer) * 4);
      left: calc(var(--spacer) * 8);
      color: var(--color-text-04);
      background-color: transparent;
      border: 0;
      opacity: 0.4;
      transition: 0.4s;

      @include media-breakpoint-down(sm) {
        left: calc(var(--spacer) * 4);
      }
    }

    &__seeButton {
      position: absolute;
      right: calc(var(--spacer) * 4);
      bottom: calc(var(--spacer) * 4);
      color: var(--color-text-04);
      background-color: transparent;
      border: 0;
      opacity: 0.4;
      transition: 0.4s;
    }
  }
}
