.home-page {
  position: relative;
  padding-block-start: 30vh;

  @include media-breakpoint-down(xl) {
    display: grid;
    place-items: center;
    padding-block-start: 20vh;
  }

  .app-tool-list {
    position: relative;
  }
}
