.app-logo {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none !important;

  &__img {
    width: auto;
    height: 100%;
  }

  &__title {
    margin-left: $spacer * 3;
    color: var(--color-brand-04);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-21);
  }
}
