.layout {
  $layout: '.layout';

  position: relative;

  &::after {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: url(/shadow-painting.webp);
    background-repeat: no-repeat;
    background-position: center -50vh;
    opacity: 0.2;
    filter: hue-rotate(320deg);
    content: '';
  }

  &__inner {
    z-index: 2;
  }

  .router-view {
    position: relative;
  }
}
